<footer class="bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Contributing</h5>
                In order to contribute
                <ul>
                    <li>Browse the reD3 issues and report bugs</li>
                    <li>Issue a pull-request</li>
                </ul>
                <p>
                    <a target="_BLANK" href="https://github.com/bugzu/reD3/graphs/contributors">List of Contributors on Github</a>
                </p>

            </div>
            <div class="col-md-6 pl">
                <p>Designed and built by</p>
                <h5>Gaurav Sharma</h5>
                <p>
                    <a target="_BLANK" href="https://github.com/bugzu">Github</a>
                    &nbsp;
                    <a target="_BLANK" href="http://twitter.com/bugzu">Twitter</a>
                </p>
                <p>
                    <a target="_BLANK" href="http://www.apache.org/licenses/LICENSE-2.0">License</a>
                </p>
            </div>
        </div>
        
    </div>
</footer>
