<footer class="bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Contributing</h5>
                You can contribute to this project in one of two ways:
                <ul>
                    <li>Browse the red3 issues and report bugs</li>
                    <li>Issue a pull-request</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h5>Acknowledgements</h5>

                <h6>Core contributors</h6>
                <ul>
                    <li><a href="https://github.com/bugzu">Gaurav Sharma</a>
                    </li>
                </ul>

                <a href="https://github.com/bugzu/reD3/graphs/contributors">List of Contributors on Github</a>
            </div>

        </div>
    </div>
</footer>
