<header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">reD3 [Reusable Charts for D3.js]</a>
            </div>
        </div>
    </nav>
</header>

<div class="container-fluid text-center blue-theme content">
    <h3>REUSABLE D3 CHARTS AND COMPONENTS</h3>
    <h5>An elegant collection of reusable charts and components built with D3.js</h5>
    <p>&nbsp;</p>
    <a href="https://github.com/bugzu/red3/zipball/master" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-download-alt"></span> DOWNLOAD reD3 Charts
    </a> 
</div>
