<h5>reD3 Charts and Components</h5>
<p>reD3 is a collection of reusable charts and components built with D3.js framework. It includes Line, Pie, Bar, Area, StackedArea, Bubble, Treemap and Heatmap charts which can be easily customized, extended and reused.</p>
<hr />
<div class="row charts">
    <div class="col-md-6">
        <p>
            <h5>Line Chart</h5>
            <a href="#/line">
                <img src="dist/images/Line.png"></img>
            </a>
        </p>

    </div>
    <div class="col-md-6">
        <p>
            <h5>Pie Chart</h5>
            <a href="#/pie">
                <img src="dist/images/Pie.png" class="square"></img>
            </a>
        </p>

    </div>
</div>
<div class="row charts">
    <div class="col-md-6">
        <p>
            <h5>Bar Chart</h5>
            <a href="#/bar">
                <img src="dist/images/bar.png" alt=""></img>
            </a>
        </p>
    </div>
    <div class="col-md-6">
        <p>
            <h5>Area Chart</h5>
            <a href="#/area">
                <img src="dist/images/area.png" alt=""></img>
            </a>
        </p>
    </div>
</div>
<div class="row charts">
    <div class="col-md-6">
        <p>
            <h5>StackedArea Chart</h5>
            <a href="#/stackedarea">
                <img src="dist/images/stackedarea.png" alt=""></img>
            </a>
        </p>
    </div>
    <div class="col-md-6">
        <p>
            <h5>Bubble Chart</h5>
            <a href="#/bubble">
                <img src="dist/images/bubble.png" alt="" class="square"></img>
            </a>
        </p>
    </div>
</div>
<div class="row charts">
    <div class="col-md-6">
        <p>
            <h5>Treemap Chart</h5>
            <a href="#/treemap">
                <img src="dist/images/Treemap.png" alt="">
            </a>
        </p>
    </div>
    <div class="col-md-6">
        <p>
            <h5>Day/Hour Heatmap</h5>
            <a href="#/heatmap">
                <img src="dist/images/heatmap.png" alt="">
            </a>
        </p>
    </div>
</div>
