<ul class="list-unstyled github-navigation">
    <li>
        <a class="btn btn-default" target="_BLANK" href="https://github.com/bugzu/reD3">
            <span class="icon-github"></span> View on GitHub
        </a>
    </li>
    <li>
        <p>&nbsp;</p>
    </li>
    <li>
        <iframe src="http://ghbtns.com/github-btn.html?user=bugzu&amp;repo=reD3&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="135" height="30"></iframe>
    </li>
    <li>
        <iframe src="http://ghbtns.com/github-btn.html?user=bugzu&amp;repo=reD3&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="135" height="30"></iframe>
    </li>
    <li>
        <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/tweet_button.1395439856.html#_=1395564869964&amp;count=horizontal&amp;via=bugzu&amp;hashtags=reD3&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fbugzu.github.io%2FreD3%2F&amp;size=m&amp;text=Reusable%20charts%20for%20D3&amp;url=http%3A%2F%2Fbugzu.github.io%2FreD3%2F" class="twitter-share-button twitter-tweet-button twitter-count-horizontal" title="Twitter Tweet Button" data-twttr-rendered="true" style="width: 135px; height: 20px;"></iframe>
    </li>
</ul>

<hr>
<ul class="list-unstyled project-navigation">
    <li class="sub-title"><h5>Charts</h5></li>
    <li><a href="#/line">Line Chart</a>
    </li>
    <li><a href="#/pie">Pie Chart</a>
    </li>
    <li><a href="#/bar">Bar Chart</a>
    </li>
    <li><a href="#/area">Area Chart</a>
    </li>
    <li><a href="#/stackedarea">StackedArea Chart</a>
    </li>
    <li><a href="#/bubble">Bubble Chart</a>
    </li>
    <li><a href="#/treemap">Treemap Chart</a>
    </li>
    <li><a href="#/heatmap">Day/Hour Heatmap</a>
    </li>
</ul>
