<ul class="list-unstyled github-navigation">
    <li>
        <a class="btn btn-default" target="_BLANK" href="https://github.com/bugzu/reD3">
            <i class="icon-github"></i> View on GitHub
        </a>
    </li>
    <li>
        <p>&nbsp;</p>
    </li>
    <li>
        <iframe src="http://ghbtns.com/github-btn.html?user=bugzu&amp;repo=reD3&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="130" height="30"></iframe>
    </li>
    <li>
        <iframe src="http://ghbtns.com/github-btn.html?user=bugzu&amp;repo=reD3&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="135" height="30"></iframe>
    </li>
</ul>

<hr>
<ul class="list-unstyled project-navigation">
    <li class="sub-title">reD3 Charts</li>
    <li><a href="#/reD3/overview">Getting Started</a>
    </li>
    <li><a href="#/reD3/documentation">Documentation</a>
    </li>
</ul>

<hr>
<ul class="list-unstyled project-navigation">
    <li class="sub-title">reD3 Charts</li>
    <li><a href="#/line">Line Chart</a>
    </li>
    <li><a href="#/pie">Pie Chart</a>
    </li>
    <li><a href="#/bar">Bar Chart</a>
    </li>
    <li><a href="#/area">Area Chart</a>
    </li>
    <li><a href="#/stackedarea">StackedArea Chart</a>
    </li>
    <li><a href="#/bubble">Bubble Chart</a>
    </li>
    <li><a href="#/treemap">Treemap Chart</a>
    </li>
    <li><a href="#/heatmap">Day/Hour Heatmap</a>
    </li>
</ul>
